@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.top-menu-expanded{
  @apply absolute top-16 right-0 z-50 w-full block bg-white text-center justify-center animate-slideDown
}

.top-menu-item{
  @apply cursor-pointer py-6 lg:py-1 leading-5 hover:text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-light-coffee after:lg:h-0.5 after:lg:w-0 after:lg:hover:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-500
}

.menu-brand{
  /* x < 400px screen */
  @apply flex-none w-[2.75rem] x:w-[4.68rem] lg:w-28 mx-0 lg:mx-[1.33rem]
}